[Unit]
Description=Blendit API
After=network-online.target redis6.service
Wants=network-online.target

[Service]
Type=simple
User=ec2-user
WorkingDirectory=/home/ec2-user/app/current
EnvironmentFile=/etc/blendit/blendit-api.env
ExecStart=/usr/bin/java -jar /home/ec2-user/app/current/blendit-api.jar
SuccessExitStatus=143
Restart=always
RestartSec=5
StandardOutput=append:/var/log/blendit/blendit-api.log
StandardError=append:/var/log/blendit/blendit-api-error.log

[Install]
WantedBy=multi-user.target
